body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.clock{
    font-family: 'Orbitron',sans-serif;
    font-size: 6rem;
    color: green;
}

@media (max-width: 426px) {
    body{
        height: 100%;

    }

    .clock{
        font-size: 4rem;
    }
    
}